:root {
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.search-container {
    width: 100%;
    justify-items: center;
}

.search-container > form {
    outline: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

    gap: 10px;
}

form > input {
    width: 50%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

.svg-icon {
    width: 30px;
}

.container {
    outline: 2px solid red;
    width: 70%;
    height: 80%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

/*MAIN*/

.main {
    outline: 2px solid green;
}

.main {
    padding-left: 20px;
}

.main > h1 {
    font-size: 70px;
}

.main > p {
    font-size: 25px;
}

.main > img {
    /* outline: 1px solid purple; */
    width: 200px;
}

/*MAIN INFO*/
.main-info {
    outline: 2px solid orange;
}

/*FUTURE DAYS*/
.days {
    outline: 2px solid blue;
    grid-column: 1 / 3;
}

